$header_bg: #696969;

$primary_bg_color: #dfdfdf;

$button_light: #808080;
$bg_light_green: #9ede74;
$bg_green: #63b111;
$bg_dark_green: #438300;
$bg_light_blue: #2470a3;
$bg_blue: #304f7c;
$info_hover: #4584b5;
$bg_orange: #d77f17;
$bg_dark_gray: #888890;
$total_bg: #a6a6a6;

$bg_section_title: #386da0;
$bg_table_title: #304f7c;

$text_color: #000000;
$white_color: #ffffff;
$gray_color: #cccccc;
$light_gray_color: #f2f2f2;

$red: #dd4545;
$yellow: #c5be00;
$green: #519c00;

$modal_bg: rgba(0,0,0,.5);

$large-screen:    1200px;
$medium-screen:		992px;
$small-screen:		767px;
$x-small-screen:	480px;
